<h1>Moje zprávy</h1>

<p id="notice"><%= notice %></p>
  
<h3>Odeslané</h3>

 <% @contacts.each do |contact| %>
<% if user_signed_in? && current_user.id == contact.sender_id  %>




<p>
  <strong>Předmět:</strong>
  <%= contact.subject %>
</p>
<p>
  <strong>Obsah zprávy:</strong>
  <%= contact.content %>
</p>
<% end %><% end %>

<hr>

<h3>Přijaté</h3>

 <% @contacts.each do |contact| %>
<% if user_signed_in? && current_user.id == contact.recipient_id  %>


<p>
  <strong>Předmět:</strong>
  <%= contact.subject %>
</p>
<p>
  <strong>Obsah zprávy:</strong>
  <%= contact.content %>
</p>
<% end %><% end %>


