<%= simple_form_for @profile do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <%= f.input :name, :label => "Jméno" %>
    <%= f.input :surname, :label => "Příjmení" %>
    <%= f.input :street, :label => "Ulice" %>
    <%= f.input :street_number, :label => "Číslo popisné"%>
    <%= f.input :zip_code , :label => "PSČ"%>
    <%= f.input :city, :label => "Město" %>
  </div>

  <div class="form-actions">

    <%= f.submit "Uložit", class: "button"%>
  </div>
<% end %>
