<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @profile.surname %>
</p>

<p>
  <strong>Ulice:</strong>
  <%= @profile.street %>
</p>

<p>
  <strong>Číslo popisné:</strong>
  <%= @profile.street_number %>
</p>

<p>
  <strong>PSČ:</strong>
  <%= @profile.zip_code %>
</p>

<p>
  <strong>Město:</strong>
  <%= @profile.city %>
</p>

<% if user_signed_in?  #&&  current_user.id == @profile.user_id %>

<%= link_to 'Editovat', edit_profile_path(@profile) %> |
<%= link_to 'Zpátky', my_profiles_path %>
<% end%>