<h2>Nová registrace</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, options_for_select(["pronajímatel","nájemce"])%>
  </div>
  <div class="field">
    <%= f.label :heslo %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :zadejte_heslo_znova_pro_kontrolu %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">

     <%= f.label :Nebo %>

<%= link_to image_tag("http://p2.uloziste.com/fotky7/v207be144093dde0/fa1bfb58b055b85d.jpg", size: "46x40", :border => 0), "/auth/facebook", id: "sign_in" %>

<%= link_to image_tag("http://p2.uloziste.com/fotky7/vefa242cd57b0ee1/63c00c7264b3a665.jpg", size: "46x40", :border => 0), "/auth/twitter", id: "sign_in" %>

<%= link_to image_tag("http://p2.uloziste.com/fotky7/v9eae63f5d2c7e9e/828c9cbae0afc85e.jpg", size: "46x40", :border => 0), "/auth/google_oauth2", id: "sign_in" %>

<br>


  
    <%= f.submit "Registrovat", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
