<%= simple_form_for @contract do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	 <%= f.input :subject_id, collection: current_user.subjects, :label => "Smlouva k předmětu" %>
    <%= f.input :date_from, :label => "Datum počátku smlouvy" %>
    <%= f.input :date_to, :label => "Datum ukončení smlouvy" %>
    <%= f.input :description, :label => "Popis"%>


 <div class="field">
   
    <%= f.input :is_public, label:"veřejný"%>
  </div>


  </div>

     <div class="form-actions">

    <%= f.submit "Uložit", class: "button"%>

  </div>
<% end %>
