<p id="notice"><%= notice %></p>

<h1>Smlouvy</h1>



<table>
  <thead>
    <tr>
      <th>Smlouva k předmětu</th>
      <th>Datum počátku smlouvy</th>
      <th>Datum ukončení smlouvy</th>
      <th>Popis</th>
      <th>Ukončeno?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>

        <td><%= contract.subject.name  %></td>
        <td><%= contract.date_from %></td>
        <td><%= contract.date_to %></td>
        <td><%= contract.description %></td>
        <td><%= contract.terminate %></td>
        <td><%= link_to 'Detail', contract %></td>





         <%if user_signed_in? && current_user.is_landlord?%>
        <td><%= link_to 'Editovat', edit_contract_path(contract) %></td>
        <td><%= link_to 'Ukončit smlouvu', terminate_contract_path(contract)  %></td>
        <td><%= link_to 'Smazat', contract, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
         
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 <%if user_signed_in? && current_user.is_landlord?%>
<%= link_to 'Nová smlouva', new_contract_path %>
<%end%>






