<p id="notice"><%= notice %></p>

<p>
  <strong>Smlouva k předmětu:</strong>
  <%= @contract.subject.name  %>
</p>


<p>
  <strong>Datum počátku smluvy:</strong>
  <%= @contract.date_from %>
</p>

<p>
  <strong>Datum ukončení smlouvy:</strong>
  <%= @contract.date_to %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @contract.description %>
</p>
 <%if user_signed_in? && current_user.is_landlord?%>
<%= link_to 'Editovat', edit_contract_path(@contract) %> |
<%end%>
<%= link_to 'Zpět', contracts_path %>
