<%= simple_form_for @subject, :html => {:multipart => true} do |f| %>



  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-inputs">

    <%= f.input :name, autofocus: true, :label => "Jméno"%>
    <%= f.input :type,:collection => @types, :label => "Typ" ,:include_blank => false %>
    <%= f.input :description, autofocus: true, :label => "Popis"%>

</div>

<div class="field">
   

    <%= f.fields_for :images, @subject.images do |i| %>
    <%=i.file_field :image %>
          <%end%>
    <%= f.input :remote_image_url, autofocus: true, :label => "Nebo URL adresa obrázku" %>

   
    <%= f.input :is_public2, label:"veřejny"%>

</div>

  <div class="form-actions">

      <%= f.submit "Uložit", class: "button"%>
      
  </div>

<% end %>

