<p id="notice"><%= notice %></p>

<h1>Předměty</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Typ</th>
      <th>Popis</th>
      <th>K pronájmu?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>


        <td><%= subject.name %></td>
        <td><%= subject.type %></td>
        <td><%= subject.description %></td>
        <td><%= subject.leasable %></td>
        <td><%= link_to 'Detail', subject %></td>

         <%if user_signed_in? && current_user.is_landlord?%>

        <td><%= link_to 'Editovat', edit_subject_path(subject) %></td>
        <td><%= link_to 'Smazat', subject, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>


<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%if user_signed_in? && current_user.is_landlord?%>

<%= link_to 'Nový předmět', new_subject_path %>
<%end%>