<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @subject.type %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @subject.description %>
</p>


<%@subject.images.each do |im|%>
<%=image_tag im.image.url(:small)%>
<%end%>

<%= image_tag @subject.image_url(:small) if @subject.image? %>



 <%if user_signed_in? && current_user.is_landlord? && current_user.id == @subject.user_id %>
      <%= link_to 'Editovat', edit_subject_path(@subject) %> |
<%end%>

<%= link_to 'Zpět', subjects_path %>

<br>





    <% if user_signed_in? && current_user.id == @subject.user_id %>
    <% if @contracts.empty? %>
    <% if !@subject.leasable %> 
    
    
          <h3>Na přemětu není žádná smlouva, chcete ho nabídnout k pronájmu? Pozn: pokud je věc neveřejná, nezobrazí se v seznamu věcí k pronájmu ostatním uživatelům, pokud chcete věc veřejně nabídnout k pronájmu, musí být věc veřejná </h3>
      <td><%= link_to 'Nabídnout k pronájmu', leasable_subject_path(@subject)  %></td>
    
    <%end%>
    <%end%>
    <%end%>



    <% if user_signed_in? && current_user.id == @subject.user_id %>
    <% if @subject.leasable %> 
    
          <h3>Předmět je nabízen k pronájmu, chcete předmět stáhnout z katalogu věcí k pronájmu?  </h3>
      <td><%= link_to 'Stáhnout z katalogu ', not_leasable_subject_path(@subject) %></td>

    
    <%end%>
    <%end%>





<% if @contracts.where(is_public: false).where(terminate: false).any? %>


      <% if user_signed_in? && current_user.id == @subject.user_id %>
          <% @contracts.where(is_public: false).where(terminate: false).each do |contract| %>         
              
             <h3>Neveřejná smlouva: </h3>
              <p>Datum počátku smlouvy: <%= contract.date_from %></p>
               <p>Datum vypršení smlouvy: <%= contract.date_to %></p>
               <p>Popis smlouvy: <%= contract.description %></p>
         <% end %>
      <% else %>
        
            <h3>Na předmětu je neveřejná smlouva</h3>
      <% end %>

 <% end %>



          <% @contracts.where(is_public: true).where(terminate: false).each do |contract| %>         
              
             <h3>Veřejná smlouva: </h3>
              <p>Datum počátku smlouvy: <%= contract.date_from %></p>
               <p>Datum vypršení smlouvy: <%= contract.date_to %></p>
               <p>Popis smlouvy: <%= contract.description %></p>
                    
          <% end %>

        
  <% if user_signed_in? && current_user.is_landlord? && current_user.id == @subject.user_id %>
          <h3>Chceš přidat smlouvu? </h3>
          <%= link_to "Přidat smlouvu k věci", new_contract_path(@contract) %>
        
 <% end %>
<br><br><br>

<%if user_signed_in? && @subject.watches.where(user_id: current_user.id).empty? %>
<%= link_to "Hlídat hlídacím psem", watching_subject_path(@subject) %>
 <% end %>
<br><br><br>

